<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Torrent Search</title>
  </head>
  <body>
    <div id="app">
      <h1>Torrent Search</h1>

      <form action="/.netlify/functions/search" @submit.prevent="search">
        <input name="query" placeholder="Search torrents" v-model="q">
        <button>Search</button>
      </form>

      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Size</th>
            <th>Seeds</th>
            <th>Peers</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="torrent in torrents" :key="torrent.desc">
            <td>
              <a :href="torrent.desc">{{ torrent.title }}</a>
            </td>
            <td>{{ torrent.size }}</td>
            <td>{{ torrent.seeds }}</td>
            <td>{{ torrent.peers }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="./scripts/index.js"></script>
  </body>
</html>
